---
import { SITE_TITLE } from '../consts';
---

<footer>
  &copy; {new Date().getFullYear()} {SITE_TITLE}. Powered by <a href="https://astro.build">Astro</a>.
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 0.9em;
  }
  footer a {
    color: var(--accent);
    text-decoration: none;
  }
</style>
